html{
  height: 100vh;
}
body{
  height: 100%;
  background-color: aqua;
}
main,footer{
 max-height: auto;
}

.form-group
{
  height: auto;
}
h4{
  margin-bottom: 30px;
}

label {
  font-weight: bold;
}
table{
  border-width:5px;  
  border-style:groove;
}
header{
  border-width:5px;  
  border-style:groove;
  border-color:#9a9a9a;
}
a
{
  color : brown;
}